/* Configuração Geral */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Botão em Geral */
button {
    width: 129px;
    height: 48px;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    color: black;
}

/* Mudando o Estilo do Botão */
.button-switch {
    width: 132px;
    height: 40px;
    background-color: black;
    font-size: 16px;
    color: white;
}