/* Seção Geral */
.questions-container-geral {
    display: flex;
    justify-content: center;
    margin-top: 112px;
    padding-left: 64px;
    padding-right: 64px;
    gap: 80px;
}

{/* Parte dos Conteúdos da Esquerda da Seção */}
.questions-content {
    width: 500px;
}

/* Titulo */
.questions-content h2 {
    font-size: 48px;
}

/* Texto do Lado Esquerdo */
.questions-content p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* Div Geral dos Cards */
.questions-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 732px;
    border-top: 1px solid black;
    gap: 10px;
}

/* Parte de Cima do Card */
.questions-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 10px;
}

/* Titulo */
.questions-top h3 {
    font-size: 18px;
}

/* Botão da Seta */
.questions-top button {
    width: 32px;
    height: 32px;
    border: none;
}

/* Adicionando uma Borda Embaixo do Card do Question */
.question-card-border-bottom {
    border-bottom: 1px solid black;
}

/* Texto do Card */
.questions-card-container p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}