/* Hero da Página */
/* Toda a Section do Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
    padding-right: 64px;
    padding-left: 64px;
    gap: 80px;
}

.hero-infos {
    display: flex;
    flex-direction: column;
}

/* Titulo */
.hero-infos h2 {
    font-size: 56px;
    margin-bottom: 24px;
}

/* Paragrafo */
.hero-infos p {
    font-size: 18px;
    margin-bottom: 40px;
}

/* Imagem do Lado Direito do Hero */
.hero img {   
    width: 616px;
    height: 640px;
}