/* Configuração Geral da Página */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Hero da Página */
.hero {   /* Toda a Section do Hero */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
    padding-right: 64px;
    padding-left: 64px;
    gap: 80px;
}

.hero img {   /* Imagem do Lado Direito do Hero */
    width: 616px;
    height: 640px;
}

.hero-infos h2 {
    font-size: 56px;
}

.hero-infos p {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
}