/* Configuração Geral */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* ----- Card Dinâmico ----- */
/* Estilo do Card (Card Individual) */
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 405.33px;
    gap: 24px;
}

.card img {
    width: 36px;
    height: 40px;
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

/* Código da Parte do Card que Está na Home */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
    padding-left: 64px;
    padding-right: 64px;
    gap: 48px;
}
