/* Header Geral */
header {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    border-bottom: 2px solid black;
}

/* Menu de Links do Header */
.nav-header {
    display: flex;
    margin-left: 340px;
}

/* Ul do Menu do Header */
.nav-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* Links Individuais do Header */
.nav-header>ul>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
}

/* Container do Menu do Link Four */
.menu-link-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 17px;
    margin-right: 271px;
}

/* Botão do Link Four */
.menu-link-four button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    gap: 4px;
}

/* Menu que se Abre ao Clicar na Seta */
.dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    top: 80%;
    left: 10%;
    gap: 4px;
    width: 97px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.397);
}

/* Lins Dentro do Drop Menu */
.dropdown-menu a {
    font-size: 16px;
    color: black;
    padding: 3px 3px;
}

/* Efeito ao se Passar o Mouse Sobre os Links do Menu */
.dropdown-menu a:hover {
    color: white;
    background-color: black;
    transition: 0.2s;
}