* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.email-input-container{
    display: flex;
    flex-direction: column;
}

.email-button {   /* Div com o Campo de Input e o Botão */
    display: flex;  
    margin-bottom: 16px;
    gap: 16px;
}

.email-button input {
    width: 357px;
    height: 48px;
    border: 1px solid black;
}

.email-button button {
    width: 140px;
    height: 48px;
    background-color: black;
    font-size: 16px;
    color: white;
}

.email-input-container span {
    font-size: 12px;
}