/* Toda a Seção */
.product-service-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 112px;
    padding-left: 64px;
    padding-right: 64px;
    gap: 80px
}

/* Parte das Informações a Esquerda */
.product-service-content-left {
    width: 616px;
}

/* Mini Texto Acima do Titulo */
.product-service-content-left h6 {
    font-size: 16px;
    margin-bottom: 16px;
}

/* Titulo */
.product-service-content-left h2 {
    font-size: 48px;
    text-align: left;
    margin-bottom: 48px;
}

/* Parte do Sumario */
/* Onde Vai o Componente dos Cards */
.summary-card-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 616px;
}

/* Div de Configuração dos Cards */
.summary-container {
    display: flex;
    justify-content: center;
    gap: 40px
}

/* Parte dos Icones dos Cards */
.summary-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

/* Imagem do Cubo */
.image-cube{
    width: 36px;
    height: 40px;
}

/* Imagem da Barra */
.icon-divider-summary {
    width: 2px;
    height: 100px;
    margin-bottom: 20px;
    background-color: black;
}

/* Para Remover o Icone de Separação do Ultimo "Card" do Sumario */
.icon-divider-remove {
    display: none;
}

/* Conteúdo de Dentro do Card */
.summary-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Titulo */
.summary-content h3 {
    font-size: 20px;
}

/* Texto de Dentro do Card */
.summary-content p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}
