/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Footer em Geral */
footer {
    height: 321px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 112px;
    padding-left: 64px;
    padding-right: 64px;
    gap: 80px;
}

/* Primeira Parte do Footer */
.footer-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Navegação do Footer - Links */
.nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 310px;
    margin-right: 205px;
}

/* Ul dos Links do Centro do Footer */
.nav-footer ul {
    display: flex;
    gap: 32px;
}

/* Links do Centro do Footer */
.nav-footer > ul > a {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/* Div das Midias Sociais */
.social-midias{
    display: flex;
    gap: 12px;
}

/* Logos das Midias Sociais */
.social-midias img {
    width: 21px;
    height: 21px;
}

/* Segunda Parte do Footer */
.footer-end {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    padding-top: 32px;
    gap: 24px;
}

/* Texto Final de Direitos Reservados */
.footer-end p {
    font-size: 14px;
}

/* Links do Fim do Footer */
.footer-end a {
    font-size: 14px;
    color: black;
    text-decoration: underline;
}